<section class="min-h-screen bg-white px-4 py-12 sm:px-6 lg:px-8 rounded-[3rem]">
  <div class="mx-auto max-w-3xl">

    <div *ngIf="loading" class="flex justify-center items-center min-h-[200px]">
      <div class="loader"></div>
    </div>
    <ng-container *ngIf="!loading">

    <div *ngIf="article && !notFound; else notFoundTpl" class="space-y-8">

      <header class="space-y-4">
        <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
          {{ article.title }}
        </h1>

       <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
               <div class="text-lg italic text-gray-500 flex items-center gap-2">
                <div>
                  <img
                    *ngIf="article.author.profilePhotoUrl; else defaultAvatar"
                    [src]="article.author.profilePhotoUrl"
                    [alt]="article.title"
                    class="h-10 w-10 rounded-full object-cover"
                  />
                </div>

                By
                <span class="font-medium text-black not-italic">
                  {{ article.publishedBy }}
                </span>
              </div>
              <div>
          <div class="text-sm text-gray-400">
            {{ article.publishedAt | date: 'longDate' }}
            </div>
              </div>
       </div>





      </header>

      <article class="prose prose-lg prose-slate max-w-none text-gray-700 leading-relaxed overflow-hidden">

        <div class="float-none md:float-left w-full md:w-1/2 md:mr-6 mb-6">
          <div class="overflow-hidden rounded-xl ">
            <img
              *ngIf="article.imageUrl"
              [src]="article.imageUrl"
              [alt]="article.title"
              class="w-full object-cover m-0"
            />
          </div>
        </div>

        <div class="whitespace-pre-line">
          {{ article.body }}
        </div>

        <div class="clear-both"></div>
      </article>

    </div>
    </ng-container>

   
    <ng-template #notFoundTpl>
      <div class="flex flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 p-12 text-center">
        <h3 class="mt-2 text-sm font-medium text-gray-900">Article not found</h3>
        <p class="mt-1 text-sm text-gray-500">
          The page you are looking for doesn't exist.
        </p>
      </div>
    </ng-template>

  
    <ng-template #defaultAvatar>
      <img src="logo.png" alt="Default avatar" class="h-10 w-10" />
    </ng-template>

  </div>
</section>
